body {
    background-color: #00001a;
    color: white;
}

img {
    max-height: 110px;
    max-width: 110px;
    padding: 15px;
}

#name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 95px;
    font-weight: 400;
}

#desc {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

#icons {
    text-align: center;
}
